.ability-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ability-score {
  border: solid 2px $text-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin-bottom: 10px;
  text-align: center;

  .ability-score-modifier {
    font-size: 2rem;
  }

  input {
    background-color: $wizard-primary;
    border: none;
    color: $text-color;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
  }
}