.character-wizard {
  @media #{$medium} {
    display: none;
  }
}

.character-wizard-expanded {
  display: none;
  @media #{$medium} {
    display: block;
  }
}

.character-wizard, .character-wizard-expanded  {
  background-color: $wizard-primary;
  min-height: 370px;
  margin-bottom: 1rem;
  width: 100%;

  .character-wizard-tabs {
    background-color: $wizard-accent;
    display: flex;
    width: 100%;

    li {
      border-bottom: solid 1px #fff;
      border-right: solid 1px #fff;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      width: 50%;
      text-align: center;
      padding: .5rem;

      &:last-child {
        border-right: none;
      }

      &[aria-selected="true"] {
        background-color: $wizard-primary;
        border-bottom: solid 1px $wizard-primary;
        color: $text-color;
      }
    }
  }

  .character-wizard-details {

    .classes, .races {
      display: flex;
      justify-content: flex-start;
      padding: .5rem 0 0 1.3rem;

      ul {
        min-width: 125px;
        margin-right: .5rem;

        li {
          cursor: pointer;
        }
      }
    }

    .details {
      color: $text-color;
      font-size: .8rem;
      margin-top: 0;
      max-height: 300px;
      overflow: auto;

      p {
        margin-top: 0;
      }

      label {
        font-weight: bold;
        margin-right: .5rem;
      }

    }
  }
}

.character-wizard-expanded {
  .character-wizard-details {
    background-color: $wizard-accent;
    display: flex;

    section {
      background-color: $wizard-primary;
      margin: 1rem;
      padding: 1rem;
      width: 33%;

      &.classes, &.races {
        padding: 1rem;
      }
    }
  }
}