html, body {
  background-color: $body-color;
  font-size: 16px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  color: $text-color;
}

a, p, span, label, input, select {
  color: $text-color;
}

*:focus {
  outline: none;
}

.character-sheet {
  display: flex;
}
