html, body {
  background-color: $body-color;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Cormorant SC', serif;
}

h1, h2, h3 {
  margin: 0;
  color: $text-color;
}

a, p, span, label, input, select {
  color: $text-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 1.2rem;
    padding: 0 .5rem;

    &.selected {
      background-color: $wizard-accent;
      color: $selected-text-color;
    }
  }
}

*:focus {
  outline: none;
}

.character-sheet {
  display: flex;
  padding: 0 0 0 1rem;
}
