.races {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 2rem;
}

.races .race-select {
  width: 30%;
}

.races p {
  padding: 1rem;
  padding-top: 0;
  margin-top: 0;
  width: 70%;
}